@model IEnumerable<BookStoreApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book"></i>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.Page)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                    <img src="@item.CoverImage" alt="Book Cover" style="max-width: 100px; max-height: 100px;" />
                @* @Html.DisplayFor(modelItem => item.CoverImage) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Page)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td> *@
                <td style="align-content:center">
                    @if (item.Availability)
                    {
                        <i class="fa-solid fa-check ps-4" style="color:lawngreen"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-xmark ps-4" style="color:red"></i>
                    }
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreID)
            </td> *@
            <td>
                    <a asp-action="Edit" asp-route-id="@item.BookID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.BookID" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.BookID" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                @* <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
